body {
    background: white;
    padding: 10px;
    
}

.searchform input[type="number"] {
    width: 93.5%;
}

li {
    background: rgb(77, 166, 255);
    color: black;
    border-radius: 5px;
    padding: 1.25rem;
    list-style-type: none;
    margin-bottom: 10px;
    margin-top: 10px;
}


.decision{
    font-size: larger;
    width: 100%;
}

.address{
    font-size: small;
    font-style: italic;
}

#mapid { height: 600px; }